* {
    margin: 0;
    padding: 0;
    font-size: 25px;
    /* box-sizing: border-box; */
    /* border: 1px solid #ababab; */
}

html, body {
    width: auto !important;
    overflow-x: hidden !important
}

a {
    text-decoration: none;
    color: #000;
    word-spacing: -1px;
}

img {
    width: 60px;
    height: 65px;
    margin-right: 8px;
    position: relative;
    bottom: 1px;
}


.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.logo-text {
    font-size: 1.1em;
    word-spacing: 5px;
}


body {
    background: radial-gradient(50% 50%, #fa320a, #EC6A50);

}

header {
    background: rgb(250, 50, 10);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    padding-bottom: 2px;
}

ul {
    display: flex;
    flex-direction: row;
    margin-right: 21px;
    position: relative;
    top: 2px;
}


nav li {
    list-style: none;
    margin: 11px;
}

main {
    padding-top: 67px;
}

blockquote {
    margin: 20px;

    text-align: center;
    margin-bottom: 40px;
}

#qauth {
    text-align: right;
    margin-right: 20px;

}

h2 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
}

#how-it-works {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

#features {
    max-width: 95%;
    margin: 0 auto;
    text-align: left;
}

#features p:nth-child(4) {
    margin-top: 20px;
}

.product {

    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
}

.pricing {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#pricing {
    margin-top: 20px;
}

#stains {
    width: 90%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 50%;
    opacity: 0.4;
}

hr {
    display: none;
}


.btn {
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    text-transform: uppercase;
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
    background: rgb(250, 50, 10);
    border: none;
    margin-bottom: 15px;
}

.product p:nth-child(2) {
    font-weight: 900;
    margin-top: 10px;
    font-size: 1.2em;
}

.product p:nth-child(1) {
    padding: 5px;
    background: rgb(250, 50, 10);
}

.product img {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 10px;
}

.product img{
    z-index: -1;
}
.product:nth-child(2) img, .product:nth-child(3) img {
    display: inline;
    

}
.product:nth-child(2) :nth-child(4){
    left: -20px;

}
.product:nth-child(2) :nth-child(3){
    left: 20px;

}
.product:nth-child(3) :nth-child(3){
    left: 40px;

}
.product:nth-child(3) :nth-child(5){
    right: 40px;
    z-index: -2;

}



@media (max-width:550px) {
    #header-img {
        width: calc(60px - 5%);
        height: calc(65px - 5%);
    }

    hr {
        margin-top: 2px;
    }

    #qauth {
        margin-right: 0;
    }

    header {
        flex-direction: column;
    }

    #nav-bar>ul {
        flex-direction: column;
        align-items: center;
    }

    section p {
        text-align: justify;
    }

    nav li {
        margin: 2px;
    }

    hr {
        display: block;
        width: 70%;
        color: rgb(255, 255, 255);
        opacity: 0.4;
    }

    main {
        padding-top: 140px;
        width: 100%;
    }

    blockquote {
        text-align: right;
        margin-right: 10px;
    }

    iframe {
        width: 99%;

    }

    .product p {
        text-align: center;
    }

    .pricing {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pricing .product {
        width: 60%;
    }
    .product img{
        width: calc(60px - 3%);
        height: calc(65px - 3%);
    }
}